<%= javascript_include_tag 'index' %>

<div id="enter">
  <a href="#"><img src="video/image/enter.png" width="200" height="83" alt="Войти на сайт"></a>
</div>

<div id="trailer" class="is_overlay">
  <video id="video" width="100%" height="auto" autoplay="autoplay" loop="loop" preload="auto">
    <source src="video/book.mp4">
    <source src="video/book.webm" type="video/webm">
  </video>
</div>

<div id="preloader">
  <i id="wait" class="fa fa-spinner"></i>
</div>